{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "singleQuote": true,
  "printWidth": 200,
  "htmlWhitespaceSensitivity": "ignore",
  "semi": true,
  "disableLanguages": ["vue"],
  "tabWidth": 4
}
