{
    "extends": ["plugin:vue/essenial", "@vue/prettier", "airbnb", "prettier", "prettier/react"],
    "singleQuote": true,
    "printWidth": 200,
    "htmlWhitespaceSensitivity": "ignore",
    "semi": true,
    "tabWidth": 4
}
